<h3>Detalles del Cliente</h3>
<div>
    <div>
        <label><b>ID :</b> {{ cliente.id }}</label>
    </div>
    <div>
        <label><b>Cedula :</b> {{ cliente.cedula }}</label>
    </div>
    <div>
        <label><b>Nombre :</b> {{ cliente.nombre }}</label>
    </div>
    <div>
        <label><b>Apellido :</b> {{ cliente.apellido }}</label>
    </div>
    <div>
        <label><b>Fecha_nacimiento :</b> {{ cliente.fecha_nacimiento }}</label>
    </div>
    <div>
        <label><b>Ciudad :</b> {{ cliente.ciudad }}</label>
    </div>
    <div>
        <label><b>Email :</b> {{ cliente.email }}</label>
    </div>
    <div>
        <label><b>Ocupacion :</b> {{ cliente.ocupacion }}</label>
    </div>
</div>